USE [master]
GO
/****** Object:  Database [CollegeDB]    Script Date: 2/11/2024 3:22:12 PM ******/
CREATE DATABASE [CollegeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CollegeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CollegeDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CollegeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CollegeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CollegeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CollegeDB]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 2/11/2024 3:22:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 2/11/2024 3:22:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[ProvinceID] [int] NULL,
	[DistrictID] [int] IDENTITY(1,1) NOT NULL,
	[DistrictName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Districts] PRIMARY KEY CLUSTERED 
(
	[DistrictID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlacesOfInterest]    Script Date: 2/11/2024 3:22:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlacesOfInterest](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[CountryName] [nvarchar](50) NULL,
	[ProvinceID] [int] NULL,
	[DistrictID] [int] NULL,
 CONSTRAINT [PK_PlacesOfInterest] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlacesOfLiving]    Script Date: 2/11/2024 3:22:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlacesOfLiving](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[CountryName] [nvarchar](50) NULL,
	[ProvinceID] [int] NULL,
	[DistrictID] [int] NULL,
 CONSTRAINT [PK_PlacesOfLiving] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 2/11/2024 3:22:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[CountryName] [nvarchar](50) NULL,
	[ProvinceID] [int] IDENTITY(1,1) NOT NULL,
	[ProvinceName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Provinces] PRIMARY KEY CLUSTERED 
(
	[ProvinceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 2/11/2024 3:22:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](50) NULL,
	[CountryofBirth] [nvarchar](50) NULL,
	[ProvinceofBirth] [int] NULL,
	[DistrictofBirth] [int] NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentsGrades]    Script Date: 2/11/2024 3:22:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentsGrades](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[StudentsGrade] [nvarchar](2) NULL,
 CONSTRAINT [PK_StudentsGrade] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Countries] ([CountryName]) VALUES (N'Country1')
INSERT [dbo].[Countries] ([CountryName]) VALUES (N'Country2')
INSERT [dbo].[Countries] ([CountryName]) VALUES (N'Country3')
GO
SET IDENTITY_INSERT [dbo].[Districts] ON 

INSERT [dbo].[Districts] ([ProvinceID], [DistrictID], [DistrictName]) VALUES (1, 1, N'District1province1')
INSERT [dbo].[Districts] ([ProvinceID], [DistrictID], [DistrictName]) VALUES (1, 2, N'District2province1')
INSERT [dbo].[Districts] ([ProvinceID], [DistrictID], [DistrictName]) VALUES (2, 3, N'District1province2')
SET IDENTITY_INSERT [dbo].[Districts] OFF
GO
SET IDENTITY_INSERT [dbo].[PlacesOfInterest] ON 

INSERT [dbo].[PlacesOfInterest] ([ID], [StudentID], [CountryName], [ProvinceID], [DistrictID]) VALUES (1, 1, N'Country1', 1, 1)
INSERT [dbo].[PlacesOfInterest] ([ID], [StudentID], [CountryName], [ProvinceID], [DistrictID]) VALUES (2, 1, N'Country4', 11, 22)
INSERT [dbo].[PlacesOfInterest] ([ID], [StudentID], [CountryName], [ProvinceID], [DistrictID]) VALUES (3, 2, N'Country5', 14, 27)
SET IDENTITY_INSERT [dbo].[PlacesOfInterest] OFF
GO
SET IDENTITY_INSERT [dbo].[PlacesOfLiving] ON 

INSERT [dbo].[PlacesOfLiving] ([ID], [StudentID], [CountryName], [ProvinceID], [DistrictID]) VALUES (1, 1, N'Country4', 3, 2)
INSERT [dbo].[PlacesOfLiving] ([ID], [StudentID], [CountryName], [ProvinceID], [DistrictID]) VALUES (2, 2, N'Country3', 2, 1)
INSERT [dbo].[PlacesOfLiving] ([ID], [StudentID], [CountryName], [ProvinceID], [DistrictID]) VALUES (3, 3, N'Country2', 1, 2)
SET IDENTITY_INSERT [dbo].[PlacesOfLiving] OFF
GO
SET IDENTITY_INSERT [dbo].[Provinces] ON 

INSERT [dbo].[Provinces] ([CountryName], [ProvinceID], [ProvinceName]) VALUES (N'Country1', 1, N'Province1country1')
INSERT [dbo].[Provinces] ([CountryName], [ProvinceID], [ProvinceName]) VALUES (N'Country1', 2, N'Province2country1')
INSERT [dbo].[Provinces] ([CountryName], [ProvinceID], [ProvinceName]) VALUES (N'Country1', 3, N'Province3country1')
SET IDENTITY_INSERT [dbo].[Provinces] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentID], [StudentName], [CountryofBirth], [ProvinceofBirth], [DistrictofBirth]) VALUES (1, N'Student1', N'Country5', 15, 29)
INSERT [dbo].[Students] ([StudentID], [StudentName], [CountryofBirth], [ProvinceofBirth], [DistrictofBirth]) VALUES (2, N'Student2', N'Country1', 2, 4)
INSERT [dbo].[Students] ([StudentID], [StudentName], [CountryofBirth], [ProvinceofBirth], [DistrictofBirth]) VALUES (3, N'Student3', N'Country4', 11, 21)
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentsGrades] ON 

INSERT [dbo].[StudentsGrades] ([ID], [StudentID], [StudentsGrade]) VALUES (3, 1, N'B+')
INSERT [dbo].[StudentsGrades] ([ID], [StudentID], [StudentsGrade]) VALUES (4, 2, N'B')
INSERT [dbo].[StudentsGrades] ([ID], [StudentID], [StudentsGrade]) VALUES (5, 3, N'A-')
SET IDENTITY_INSERT [dbo].[StudentsGrades] OFF
GO
ALTER TABLE [dbo].[Districts]  WITH CHECK ADD  CONSTRAINT [FK_Districts_Provinces] FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Provinces] ([ProvinceID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Districts] CHECK CONSTRAINT [FK_Districts_Provinces]
GO
ALTER TABLE [dbo].[PlacesOfInterest]  WITH CHECK ADD  CONSTRAINT [FK_PlacesOfInterest_Countries] FOREIGN KEY([CountryName])
REFERENCES [dbo].[Countries] ([CountryName])
GO
ALTER TABLE [dbo].[PlacesOfInterest] CHECK CONSTRAINT [FK_PlacesOfInterest_Countries]
GO
ALTER TABLE [dbo].[PlacesOfInterest]  WITH CHECK ADD  CONSTRAINT [FK_PlacesOfInterest_Districts] FOREIGN KEY([DistrictID])
REFERENCES [dbo].[Districts] ([DistrictID])
GO
ALTER TABLE [dbo].[PlacesOfInterest] CHECK CONSTRAINT [FK_PlacesOfInterest_Districts]
GO
ALTER TABLE [dbo].[PlacesOfInterest]  WITH CHECK ADD  CONSTRAINT [FK_PlacesOfInterest_Provinces] FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Provinces] ([ProvinceID])
GO
ALTER TABLE [dbo].[PlacesOfInterest] CHECK CONSTRAINT [FK_PlacesOfInterest_Provinces]
GO
ALTER TABLE [dbo].[PlacesOfInterest]  WITH CHECK ADD  CONSTRAINT [FK_PlacesOfInterest_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlacesOfInterest] CHECK CONSTRAINT [FK_PlacesOfInterest_Students]
GO
ALTER TABLE [dbo].[PlacesOfLiving]  WITH CHECK ADD  CONSTRAINT [FK_PlacesOfLiving_Countries] FOREIGN KEY([CountryName])
REFERENCES [dbo].[Countries] ([CountryName])
GO
ALTER TABLE [dbo].[PlacesOfLiving] CHECK CONSTRAINT [FK_PlacesOfLiving_Countries]
GO
ALTER TABLE [dbo].[PlacesOfLiving]  WITH CHECK ADD  CONSTRAINT [FK_PlacesOfLiving_Districts] FOREIGN KEY([DistrictID])
REFERENCES [dbo].[Districts] ([DistrictID])
GO
ALTER TABLE [dbo].[PlacesOfLiving] CHECK CONSTRAINT [FK_PlacesOfLiving_Districts]
GO
ALTER TABLE [dbo].[PlacesOfLiving]  WITH CHECK ADD  CONSTRAINT [FK_PlacesOfLiving_Provinces] FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Provinces] ([ProvinceID])
GO
ALTER TABLE [dbo].[PlacesOfLiving] CHECK CONSTRAINT [FK_PlacesOfLiving_Provinces]
GO
ALTER TABLE [dbo].[PlacesOfLiving]  WITH CHECK ADD  CONSTRAINT [FK_PlacesOfLiving_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlacesOfLiving] CHECK CONSTRAINT [FK_PlacesOfLiving_Students]
GO
ALTER TABLE [dbo].[Provinces]  WITH CHECK ADD  CONSTRAINT [FK_Provinces_Countries] FOREIGN KEY([CountryName])
REFERENCES [dbo].[Countries] ([CountryName])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Provinces] CHECK CONSTRAINT [FK_Provinces_Countries]
GO
ALTER TABLE [dbo].[StudentsGrades]  WITH CHECK ADD  CONSTRAINT [FK_StudentsGrade_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StudentsGrades] CHECK CONSTRAINT [FK_StudentsGrade_Students]
GO
USE [master]
GO
